<div class="uk-margin">
  <%= f.label key, class: "uk-form-label" %>
  <div class="uk-form-controls">
    <%= f.text_area key, class: "description", placeholder: "Write a description abou you..." %>
    <% if model.errors[key] %>
      <% model.errors[key].each do |err| %>
        <span class="uk-label uk-label-danger"><%= err %></span>
      <% end %>
    <% end %>
  </div>
</div>
