@import "./application.scss";

.edit-comment {
  height: calc(100vh - 215px - 116px);
  width: 100%;
  justify-items: center;
  align-items: center;
  display: grid;

  > form {
    > textarea {
      width: 500px;
      height: 300px;
      padding: 1rem;
      box-sizing: border-box;
      border: 2px solid rgba(91, 9, 9, 0.8);
      border-radius: 4px;
      background-color: rgba(91, 9, 9, 0.2);
      resize: none;
      color: #666;
      font-size: 1.1rem;
      outline: none;
    }

    > .submit {
      color: white;
      width: 100px;
      height: 50px;
      background-color: rgba(91, 9, 9, 0.2);
      outline: none;
      border: 2px solid;
      border-color: rgba(91, 9, 9, 0.8);
      transition: all 0.3s ease;
      font-size: 1rem;

      &:hover {
        background: $dark-red;
      }

    }
  }
}
